#head {

}

#footer {
    margin: .25rem;
}


#display {
    height: 1rem;
    width: 8.75rem;
    background-color: gray;
    text-align: right;
    list-style: none;
    margin: 0 .25rem;
    vertical-align: text-bottom;
    border-radius: 4%;
}

#all-clear {
    color: brown;
}

#backspace {
    width: 4.25rem;
}

#enter {
    width: 4.25rem;
}
.btn {
    width: 2rem;
    cursor: pointer;
    text-align: center;
    font-size-adjust: inherit;
}

/* i don't like rem */