#head {

}

#footer {
    margin: .25rem;
}


#display {
    height: 9rem;
    width: 9.5rem;
    background-color: gray;
    text-align: right;
    list-style: none;
    margin: .25rem;
    
}

#clear-all {
    width: 4.25rem;
}
#enter {
    width: 5rem;
}
.button {
    width: 2rem;
    cursor: pointer;
}

/* i don't like rem */